.banner {
  font: 400 50px/1 "Pacifico", Helvetica, sans-serif;
  color: black;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 720px) {
  .banner {
    font: 300 40px/1 "Pacifico", Helvetica, sans-serif;
    color: black;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  }
}

@media screen and (max-width: 600px) {
  .banner {
    font: 200 25px/0.5 "Pacifico", Helvetica, sans-serif;
    color: black;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
    padding-top: 12%;
  }
}
